.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 2px solid rgb(238, 237, 237);
  box-shadow: 3px 0 3px 0 black;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  text-decoration: none;
  color: black;
}

.services-section:hover {
  box-shadow: 5px 0 5px 0 black;
}