.product-heading {
  text-align: center;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.product-card {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(236, 235, 235);
  border-radius: 10px;
  box-shadow: 5px 0px 5px 0px black;
  margin: 10px;
}

.product-image {
  width: 25vw;
  border-radius: 10px 10px 0 0;
}


.product-card:hover {
  box-shadow: 8px 0 8px 0 black;
}


