body {
  margin: 0;
  box-sizing: border-box;
}

.product-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-heading {
  text-align: center;
  font-size: 45px;
  font-family: 'Sansita Swashed', cursive;
}
.footer-about {
  position: absolute;
  bottom: 0;
}